name: Run tests on Docker Image
on: [push, pull_request]

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6
    - name: Build the Docker image
      run: make build
    - name: Run tests
      run: make workflow-test
